# Glos CODEOWNERS

# Назначение владельца (ответственного) для разных частей проекта.

# ================================
# Основной код
# ================================
/glos-core/ @MiCkEyZzZ
/.github/workflows/ @MiCkEyZzZ
